.container {
  display: flex;
  padding: 1.5em 5%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid transparent;
  background: #000000;
  backdrop-filter: blur(20px);
}

.mainLogoCss {
  width: auto;
  height: 1.5em;
}

.navItems {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.navButton {
  display: flex;
  height: 48px;
  padding: 1em 2em;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(86deg, #d4f938 23.09%, #32d875 108.69%);
  box-shadow: 0px 0px 16px 0px rgba(168, 239, 156, 0.8);
  backdrop-filter: blur(5px);
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    padding: 1em; /* Smaller padding */
    gap: 1em; /* Adjust gap */
  }

  .navItems {
    justify-content: center;
    gap: 0.5em; /* Smaller gap for smaller screens */
  }

  .navButton {
    padding: 0.5em 1em; /* Smaller button padding */
  }
}

@media (max-width: 480px) {
  /* Further adjustments for very small screens like mobile devices */
  .container {
    gap: 0.5em;
  }

  .navItems a,
  .navButton {
    font-size: 0.8em; /* Smaller font size for links and button */
  }
}
